/* @-moz-document url-prefix() {
    #mainImage {
      width: 100vw;
    }
} */
.row{
    margin-left: unset !important;
    margin-right:unset !important
}
.addressText{
    font-family: 'calibri';
    color: white;
    font-size: 0.85em;
    line-height: 1.7em;
}
.paddings{
    padding-bottom:9em
}
.navigationMobile{
    display:none
}

.securityLabel{
    width:40px;
    text-align:center;
}
.securityLabel{
    width: 400px !important;
    margin-left: -200px !important;
}
.map{
    position:relative;
    background-image:url(images/00/00_illus-0.jpg);
    height:687px;
}
@font-face {
    font-family:'Tw Cen MT';
    src: url('fonts/Tw Cen MT.ttf');
}
@font-face {
    font-family:'eurostile';
    src: url('fonts/Eurostile.ttf');
}
@font-face {
    font-family:'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf');
}
@font-face {
    font-family:'CalibriBold';
    src: url('fonts/Calibri Bold.ttf');
}
@font-face {
    font-family:'Tw Cen MT Bold';
    src: url('fonts/Tw Cen MT Bold.ttf');
}
@font-face {
    font-family:'ElectroShackle';
    src: url('fonts/Electro Shackle.otf');
}
.navigation{
    font-family:'Tw Cen MT';
}
#locationDiv img{
    width:93%
}
#energyManagementLabel{
    width:500px !important;
    margin-left:-250px;
    top:40% !important
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: ghostwhite;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 34px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'RSU_Regular';
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}  
.partnerPics{
    padding: 0 5em 0 5em;
    max-width: 25em;
    opacity: 0.5;
}
.map > img{
    position:absolute; 
    display:none;
    z-index:1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#firstImage{
    z-index:5;
    position:absolute;
    display:unset;
}
#secondImage, #thirdImageLabel{
    display:unset;
}
#area1{
    color:blue;
}
.area{
    color:green
}
.border{
    background-image: linear-gradient(to right, #67BC3C , #00A846);
    padding: 12px;
}
.centerLine{
    position:absolute;
    color:red;
    width:3vw;
    height:fit-content;
    top:0;
    left:50%;
    margin-left:-1.5vw
}
#automationText{
    width:355px;
    margin-left:-177.5px !important
}
.oneLiner{
    top:45% !important;
}
.titleDiv{
    font-family: eurostile;
    color: white;
    text-align: center;
    font-weight:bold;
    position: absolute;
    font-size: 5em;
    letter-spacing: 0.2em;
    z-index: 5;
    width: 100%;
    top: 35%;
    left: 50%;
    margin-left: -50%;
}
.title{
    font-family: eurostile;
    text-align: center;
    margin: 1.5em 0 1.4em 0;
    font-size: 4.4em;
    color: #00A946;
}
.partnerTitle{
    text-align: center;
    margin-top: 1.5em;
    font-size: 3em;
    font-weight:600;
    margin-bottom: 1.5em;
    font-family:'Tw Cen MT Bold';
}
body{
    overflow-x:hidden
}
.energyLabel{
    margin-top: 0.5em;
    font-size: 0.95em;
    font-family: 'RSU_Regular';
}
.icon{
    height: 17%;
    width: 35%;
}

.entity{
    text-align:center;
    display:flex
}
#energyLabel{
    font-family: 'ElectroShackle';
    position: absolute;
    top: 47%;
    left: 42%;
    color: white;
    font-size: 3em;
    letter-spacing: 0.2em;
}
.iconLabel{
    font-size: 1.8em;
    margin-top: 13.9%;
    font-family:'Tw Cen MT Bold';
    padding-left:3em;
    color: white;
    text-align: left;
    display: block;
}
.threeLine{
    margin-top: 1.3em;
}
.partners{
    float:left
}
.laptopMap{
    display:none
}
.stackedText{
    position: absolute;
    font-size: 12em;
    width: 100%;
    color:white;
    text-align: center;
    line-height:83px;
    top: 39%;            
}
.mobilePartners{
    display:none;
}
.mainLabel{
    font-size:2em !important
}
.footer{
    padding: 6em 12em
}
@media screen and (max-width: 1800px) and (min-width:1440px){
    .outerframe{
        margin:0px 15em 10em 15em !important
    }
}
@media screen and (max-width:1440px){
    .footer{
        padding:6.1em !important
    }
}
@media screen and (max-width:1440px) and (min-width: 800px){
    .contacts{
        top:5em !important
    }
    #firstImage{
        width:100%;
        position:unset
    }
    .laptopMap{
        display:unset !important
    }
    .webPartners{
        display:none !important
    }
    #autoLabel{
        width:350px !important
    }
    .mobilePartners{
        display: unset !important
    }
    /* .navigation{
        font-size:0.8em
    } */
    .map{
        display:none
    }
    .titleGreen{
        font-size:1.5em !important
    }
    #customMade{
        margin-bottom:13em !important
    }
    .borderLaptop{
        display:none
    }
    #shiftedFrame{
        margin-left:17em !important
    }
    #shiftedLabel{
        width:42.4% !important
    }
    
    .outerframe{
        margin: 0px 25em 10em 25em !important
    }
    .shiftedOuterFrame{
        margin: 0px 10em 10em 10em !important
    }
    .emImg{
        width:222px !important
    }
    #about{
        padding-left:4em !important
    }
    .energyLabel{
        font-size:1.2em !important
    }
    .energyLabel2{
        font-size:1.3em !important
    }
    .elSec{
        font-size:1.1em !important
    }
    /* #huawei{
        max-width: 14.5em !important
    }
    #siemens{
        max-width: 22.8em !important
    }
    .partnerPics{
        max-width:18em !important
    }
     */
    .iconLabel{
        font-size:1.2em !important
    }
}
@media screen and (max-width: 1300px){
    .outerframe{
        margin: 10em 3em !important; 
        margin-top:0px !important; 
    }
}
@media screen and (max-width: 1024px) {
    #locationDiv img{
        width:100%
    }
    #aboutText{
        width: 19.6em !important;
        font-size: 1em !important;
    }
    .footer{
        padding:2.1em !important
    }
    .navigation{
        font-size:0.8em
    }
    .bptechpic{
        height: 28vh !important
    }
    #energyLabel{
        top:41%;
        left:38.6%
    }
    .elSec{
        width:220px !important;
        font-size:1em !important
    }
    #shiftedFrame{
        margin-left:13.5em !important
    }
    .iconLabel{
        font-size:1em !important
    }
    .outerframe{
        margin: 10em 3em !important; 
        margin-top:0px !important; 
    }
    .outerframeEM{
        margin: 10em 13em !important; 
    }
    .partnerPics{
        max-width:19em !important
    }
}
@media screen and (max-width: 1000px){
    .justify{
        margin-top: unset !important
    }
    .entity{
        margin-bottom:30px
    }
}
@media screen and (max-width: 990px){
    .navigationMobile{
        display:unset !important;
        padding-right: 1em;
    }
    .navigation{
        display:none !important
    }
    .heading{
        padding: 2em 0 !important;
    }
    .logo{
        width: 38% !important
    }
}
@media screen and (max-width: 800px) {
    .appdPic{
        padding-right:unset !important
    }
    .titleDiv{
        font-size:3em !important
    }
    .atDiv{
        width:70vw !important
    }
    #ourLocation{
        padding-left: 0 !important
    }
    #locationDiv{
        padding-left: unset !important
    }
    #aboutText{
        width: 75vw !important;
        font-size: 1.1em !important;
    
    }
    #firstImage{
        width:100%;
        position:unset
    }
    #energyManagementLabel{
        top:36% !important
    }
    .laptopMap{
        display:unset !important
    }
    .webPartners{
        display:none;
    }
    .mobilePartners{
        display:unset;
    }
    .partnerPics{
        max-width:15em !important;
        padding: 0 25px
    }
    #atLabel{
        width:unset !important
    }
    .securityQuickFix{
        font-size:1.2em
    }
    #innerFrame{
        padding:40px !important
    }
    .energyLabel{
        width:unset !important
    }
    .map {
        display:none
    }
    .ovtl{
        width: 70vw;
        margin: auto;
    }
    #paddingOffset{
        padding:unset !important;
        padding-top: 75px !important;
        padding-bottom: 75px !important
    }
    .heading{
        position: relative;
        padding: 1.5em 0 1.5em 0 !important;
        padding-left: 40px !important;
        background-color: white;
        width: -webkit-fill-available;
    }
    .heading>div{
        padding-left:0 !important
    }
    .justify div div{
        padding-bottom:30px;
    }
    .addressText{
        padding-left:unset !important;
    }
    .paddings div{
        padding-bottom:30px;
    }
    .justify{
        margin-top: unset !important;
        padding-bottom:51px !important;
    }
    .iconLabel{
        font-size:0.8em !important;
        padding:11px;
    }
    .logo{
        width:36% !important
    }
    .imageset{
        display:unset !important;
        justify-content:unset !important
    }
    .imageset .image{
        margin: 0 40px
    }
    .footer{
        padding:40px !important;
        margin:unset;
        font-size:1.4em
    }
    .something{
        padding:4px !important;
    }
    .something2{
        margin-top:1em !important 
    }
    #energyLabel{
        top: 39% !important;
        left: 37% !important;
    }
    .contacts{
        top:3.5em !important
    }
    .bptechpic{
        height:22vh !important
    }
    .imageset div img{
        width:100% !important
    }
    .emServices{
        padding: 40px !important
    }
    .outerframe{
        margin:unset !important;
        margin-bottom:30px !important
    }
    .mobilePartners div{
        margin-bottom: unset !important;
        padding-bottom: 32px!important;
    }
    #huawei{
        max-width:9em !important;
    }

    #paddingImage{
        padding-left:40px
    }
    #siemens{
        min-width:unset !important
    }
    .appdPic{
        width:100% !important;
        padding-right: 40px
    }
    #energyManagementLabel{
        font-size:2.5em
    }
   
}
@media screen and (max-width: 630px){
    .partnerPics {
        max-width: 9.6em !important;
        padding: 0 8px
    }
}
@media screen and (max-width: 550px){
    .partnerTitle{
        font-size:2.2em;
    }
}
@media screen and (max-width: 432px) {
    .titleDiv{
        font-size:1.6em !important
    }
    .oneLiner{
        font-size:2em  !important
    }
    .paddings{
        margin-left:8vw;
        padding-bottom:unset !important
    }
    #energyManagementLabel{
        font-size:1.5em !important
    }
    #automationText{
        font-size:2.5em !important
    }
    .titleDiv{
        top:36%
    }
    .title{
        margin: 1em 0 !important;
        font-size: 1.8em !important;
    }
    .iconLabel{
        padding: unset !important;
        margin-left: 1.2em;
        font-size:0.6em !important
    }
    .threeLine{
        margin-top:0.2em
    }
    .justify div div{
        padding-bottom: 21px !important
    }
    .addressText{
        font-size:0.45em
    }
    .justify{
        padding-bottom:0px !important
    }
    #bpTech{
        padding-top:3em !important
    }
    .bptechpic{
        height:18vh !important
    }
    .partnerPics{
        max-width: 8.8em !important;
        padding: 0px 16px !important
    }
    #huawei{
        max-width:6.4em !important
    }
    #ourLocation{
        font-size:1.1em !important
    }
    #footerText{
        font-size:0.8em !important;
        margin:20px !important
    }
    .energyLabel{
        font-size: 1.2em !important;
        margin-bottom: 1.6em !important;
    }
    #about{
        margin-top: 5em !important;
    }
    .contacts{
        top:2.5em !important
    }
    .titleGreen{
        font-size:1.4em !important
    }
    #energyFirstLabel{
        margin-bottom:36.3px !important;
        font-size:0.8em !important
    }
    #energyLabel{
        left:26.3% !important
    }
    #shiftedFrame{
        margin-left: 2.5em !important;
        width:unset !important
    }
    .elSec{
        width:330px !important;
        font-size: 1em !important;
    }
    #automatedTitle{
        margin: 1.4em 0 !important;
        font-size: 1.2em !important;
    }
    #automatedLabel{
        margin-bottom:60px !important;
        font-size:0.8em !important
    }
    .partnerTitle{
        margin-top:unset !important;
        margin-bottom:unset !important;
        margin: 2em 0 !important; 
        font-size: 1.8em !important
    }
    .title{
        font-size:1.2em 0 !important
    }
    #securityLabel{
        left:18.3% !important
    }
    .borderLaptop{
        display:none
    }
}
@media screen and (max-width: 375px) {
    .footer{
        padding: 20px !important
    }
    .justify div div {
        padding-bottom: 14px !important;
    }
    .iconLabel{
        font-size:0.6em !important
    }
    .bptechpic{
        height:18vh !important
    }
    .partnerPics{
        max-width:7.8em !important
    }
    .titleDiv{
        font-size:1.4em !important
    }
    .oneLiner{
        font-size:1.7em  !important
    }
}
@media screen and (max-width: 320px){
    .partnerPics{
        max-width: 6.4em !important;
        padding: 0px 6.8px !important;
    }
}