@-moz-document url-prefix() {
    #mainImage {
      width: 100vw;
    }
}
body{
    -moz-transform:  scale(0.5,0.5);
    -moz-transform-origin: left center;
}
.addressText{
    font-family: 'calibri';
    color: white;
    font-size: 0.85em;
    line-height: 1.7em;
}
.map{
    position:relative;
    background-image:url(images/00/00_illus-0.jpg);
    height:687px;
}
@font-face {
    font-family:'Tw Cen MT Bold';
    src: url('fonts/Tw Cen MT Bold.ttf');
}
@font-face {
    font-family:'RSU_Regular';
    src: url('fonts/RSU_Regular.ttf');
}
@font-face {
    font-family:'CalibriBold';
    src: url('fonts/Calibri Bold.ttf');
}
@font-face {
    font-family:'Tw Cen MT Bold';
    src: url('fonts/Tw Cen MT Bold.ttf');
}
@font-face {
    font-family:'ElectroShackle';
    src: url('fonts/Electro Shackle.otf');
}
#energyManagementLabel{
    font-family: 'ElectroShackle';
    position: absolute;
    top: 40%;
    text-align: center;
    left: 39%;
    color: white;
    font-size: 3em;
    letter-spacing: 0.2em;
    z-index:5;
}
.partnerPics{
    padding: 0 5em 0 5em;
    max-width: 25em;
    opacity: 0.5;
}
.map > img{
    position:absolute; 
    display:none;
    z-index:1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#firstImage{
    z-index:5;
    position:absolute;
    display:unset;
}
#secondImage, #thirdImageLabel{
    display:unset;
}
#area1{
    color:blue;
}
.area{
    color:green
}
.border{
    background-image: linear-gradient(to right, #67BC3C , #00A846);
    padding: 12px;
}
.title{
    font-family: 'ElectroShackle';
    text-align: center;
    margin: 1.5em 0 1.4em 0;
    font-size: 4.4em;
    color: #00A946;
}
.partnerTitle{
    text-align: center;
    margin-top: 1.5em;
    font-size: 3em;
    font-weight:600;
    margin-bottom: 1.5em;
    font-family:'Tw Cen MT Bold';
}
body{
    overflow-x:hidden
}
.energyLabel{
    margin-top: 0.5em;
    font-size: 2.5em;
    font-family: 'RSU_Regular';
}
.icon{
    height: 17%;
    width: 35%;
}
.entity{
    text-align:center;
    display:flex
}
#energyLabel{
    font-family: 'ElectroShackle';
    position: absolute;
    top: 47%;
    left: 42%;
    color: white;
    font-size: 3em;
    letter-spacing: 0.2em;
}
.iconLabel{
    font-size: 1.8em;
    margin-top: 13.9%;
    font-family:'Tw Cen MT Bold';
    padding-left:3em;
    color: white;
    text-align: left;
    display: block;
}
.threeLine{
    margin-top: 1.3em;
}
.partners{
    float:left
}
.stackedText{
    position: absolute;
    font-size: 12em;
    width: 100%;
    color:white;
    text-align: center;
    line-height:83px;
    top: 39%;            
}